.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  h2 {
    font-family: "Satisfy", cursive;
    font-size: 2.5rem;
    text-align: center;
  }
}
.links {
  display: flex;
  gap: 1rem;
  align-items: center;

  strong {
    color: #b2e667;
    text-transform: uppercase;
  }
}

.icon {
  color: #b2e667;
}
